{% set customer_doc = doc | default({}) %}

{% if frappe %}
{% set customer_name = doc.applicant %}
{% set customer_doc = frappe.get_doc("Customer", customer_name) if customer_name else None %}
{% endif %}

{% set meses = [
    'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
    'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
] %}
{% set fecha = {} %}
{% if doc.posting_date %}
    {% if doc.posting_date.year is defined %}
        {# Es un objeto de fecha (date/datetime object) #}
        {% set anio = doc.posting_date.year %}
        {% set mes_num = doc.posting_date.month %}
        {% set dia = doc.posting_date.day %}
    {% else %}
        {# Es una cadena de texto con formato 'yyyy-mm-dd' #}
        {% set date_parts = doc.posting_date.split('-') %}
        {% set anio = date_parts[0] %}
        {% set mes_num = date_parts[1] | int %}
        {% set dia = date_parts[2] %}
    {% endif %}
    {% set _ = fecha.update({'anio': anio, 'mes': meses[mes_num - 1], 'dia': dia}) %}
{% endif %}

<div class="logosection">
    <img src="{{ url_for('static', filename='doc_files/auth-compartir-info/logo.png') }}" style="width: 8em;" alt="Logo header">
</div>
<h1><span class="foso-familia">FOSOFAMILIA</span></h1>
<h2><span class="fondo-solidario">Fondo Solidario para la Familia Microempresaria</span></h2>
<h2 class="contratacion-de-seguros">CONTRATACIÓN DE SEGUROS</h2>
<p>
    <span class="linea">
    Yo,
    {% if customer_doc %}
        {#- Construir el nombre completo a partir de las partes existentes, omitiendo las vacías -#}
        {% set name_parts = [
            customer_doc.first_name_custom,
            customer_doc.middle_name,
            customer_doc.first_surname,
            customer_doc.second_surname
        ] %}
        <span class="aut-linea data-fill" style="flex-grow: 1; min-width: 27em"><span style="margin-left: 1em;">{{ name_parts | select('string') | join(' ') | trim }}</span></span>
    {% else %}
        <span style="width: 27em" class="aut-linea"></span>
    {% endif %}
     mayor de edad, de
    </span>
    <span class="linea">
    profesión u oficio
    {%if customer_doc %}
        <span class="aut-linea data-fill" style="flex-grow: 1; min-width: 9em;">{{ customer_doc.profession_occupation }}</span>
    {% else %}
        <span style="width: 9em" class="aut-linea"></span>
    {% endif %}
    , del domicilio de
    {% if customer_doc %}
        <span style="width: 9em" class="aut-linea data-fill">{{ customer_doc.custom_departamento }}</span>
    {% else %}
        <span style="width: 9em" class="aut-linea"></span>
    {% endif %}
    , con
    </span>
    <span class="linea">
    documento único de identidad número
    {% if customer_doc %}
        <span class="aut-linea data-fill" style="flex-grow: 1; min-width: 14em;">
            {{ customer_doc.dui_number}}
        </span>
    {% else %}
        <span style="width: 14em" class="aut-linea"></span>
    {% endif %}
    expresamente
    </span>
    <span class="linea">
    DECLARO:
    </span>
</p>

<div class="seccion-declaraciones">
    <ol class="lista-declaraciones">
        <li>
        Que hago completo uso del derecho a mi otorgado por la Ley de Protección al Consumidor para la libre designación de la persona natural o jurídica, con la cual contrataré los seguros requeridos para mis trámites crediticios.
        </li>
        <li>
        Tipo de seguro(s)
        <br>
        <span style="width: 7em" class="aut-linea"></span>
        Seguro Colectivo de deuda
        </li>
        <li>
        El(los) seguro(s) a contratar servirá(n) para garantizar la(s) siguiente(s) operación(es):
        <br>
        <span style="width: 7em" class="aut-linea"></span>
        Créditos para la Actividad Productiva
        <br>
        <span style="width: 7em" class="aut-linea"></span>
        Créditos para la Capital de Trabajo
        <br>
        <span style="width: 7em" class="aut-linea"></span>
        Refinanciamiento
        <br>
        </li>
        <li>
            Para efectos del artículo 20, literal de la Ley de Protección al Consumidor, declaro que el Fondo Solidario para la Familia Microempresaria (FOSOFAMILIA), no me ha impuesto, directa o indirectamente, ni ha influido en mi decisión para contratar el seguro con la persona natural o jurídica seleccionada y nominada en el literal “a” de esta declaración.
        </li>
    </ol>
</div>
<p class="footer-date">
    <span class="aut-linea data-fill">San Salvador</span>
    {% if fecha.dia %}<span class="aut-linea data-fill">{{ fecha.dia }}</span>{% else %}<span style="width: 4em" class="aut-linea"></span>{% endif %} de
    {% if fecha.mes %}<span class="aut-linea data-fill">{{ fecha.mes }}</span>{% else %}<span style="width: 8em;" class="aut-linea"></span>{% endif %} de
    {% if fecha.anio %}<span class="aut-linea data-fill">{{ fecha.anio }}</span>{% else %}<span style="width: 6em" class="aut-linea"></span>{% endif %}.
    <br>
    <span style="width: 16em;padding-top: 6em;" class="aut-linea"></span>
</p>