.print-format .page-container {
	font-size: 9pt;
	font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
	-webkit-print-color-adjust:exact;
}

.page-break {
	page-break-after: always;
}

.print-heading {
	border-bottom: 1px solid #aaa;
	margin-bottom: 10px;
}

.print-heading .page-container  h2 {
	margin: 0px;
}
.print-heading  .page-container h4 {
	margin-top: 5px;
}

table.no-border, table.no-border td {
	border: 0px;
}

.print-format  .page-container label {
	/* wkhtmltopdf breaks label into multiple lines when it is inline-block */
	display: block;
	font-weight: 700;
}

.print-format  .page-container img {
	max-width: 100%;
}

.print-format  .page-container table td > .primary:first-child {
	font-weight: bold;
}

.print-format  .page-container td, .page-container .print-format th {
	vertical-align: top;
	padding: 6px;
}

.print-format .page-container  p {
	margin: 3px 0px 3px;
}

.print-format  .page-container table td pre {
	white-space: normal;
	word-break: normal;
}

table td div {
	
	/* needed to avoid partial cutting of text between page break in wkhtmltopdf */
	page-break-inside: avoid !important;
	
}

/* hack for webkit specific browser */
@media (-webkit-min-device-pixel-ratio:0) {
	thead, tfoot {
		display: table-header-group;
	}
}

[document-status] {
	margin-bottom: 5mm;
}

.signature-img {
	background: #fff;
	border-radius: 3px;
	margin-top: 5px;
	max-height: 150px;
}

.print-format-preview [data-fieldtype="Table"] {
	overflow: auto;
}
.print-format .page-container {
    font-size: 13px;
    background: white;
}

.print-heading {
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.print-heading h2 {
    font-size: 24px;
}

.print-heading h2 div {
    font-weight: 600;
}

.print-heading small {
    font-size: 13px !important;
    font-weight: normal;
    line-height: 2.5;
    color: #4c5a67;
}

.print-format  .page-container.letter-head {
    margin-bottom: 30px;
}

.print-format .page-container label {
    font-weight: normal;
    font-size: 13px;
    color: #4C5A67;
    margin-bottom: 0;
}

.print-format .page-container .data-field {
    margin-top: 0;
    margin-bottom: 0;
}

.print-format .page-container .value {
    color: #192734;
    line-height: 1.8;
}

.print-format  .page-container.section-break:not(:last-child) {
    margin-bottom: 0;
}

.print-format .page-container .row:not(.section-break) {
    line-height: 1.6;
    margin-top: 15px !important;
}

.print-format .page-container .important .value {
    font-size: 13px;
    font-weight: 600;
}

.print-format .page-container th {
    color: #74808b;
    font-weight: normal;
    border-bottom-width: 1px !important;
}

.print-format .page-container .table-bordered td, .print-format .table-bordered th {
    border: 1px solid #f4f5f6;
}

.print-format .page-container .table-bordered {
    border: 1px solid #f4f5f6;
}

.print-format .page-container td, .print-format .page-container th {
    padding: 10px !important;
}

.print-format .page-container .primary.compact-item {
    font-weight: normal;
}

.print-format .page-container table td .value {
    font-size: 12px;
    line-height: 1.8;
}
