<div class="shape-container">
    <div class="left-shape"></div>
    <div class="right-shape"></div>
    <div class="shape-text">
        <dl>
            <dt>EPITETO</dt>
            <dd>Es una figura literaria que consiste en agregar un adjetivo calificativo a un sustantivo para resaltar una cualidad inherente o característica del objeto o persona mencionada.</dd>
            <dd>Un epíteto es un adjetivo que expresa una cualidad del sustantivo al cual está asociado. Se emplea para caracterizar o calificar a alguien o algo, añadiendo o subrayando alguna de sus características. La palabra, como tal, proviene del latín epithĕton, y este a su vez procede del griego ἐπίθετον (epítheton), que significa ‘de más’, ‘agregado’.</dd>
            <dd class="examples">
                <strong>Ejemplos:</strong><br>
                “La blanca nieve”<br>
                “El valiente caballero”<br>
                “El frio hielo”
            </dd>
        </dl>
    </div>
</div>