<div class="form-header">
    <div class="header-box">
        <h1>FONDO SOLIDARIO PARA LA FAMILIA MICROEMPRESARIA</h1>
        <h1>FOSOFAMILIA</h1>
        <h1>PLANILLA DE DESEMBOLSO</h1>
        <h1>(EN DOLARES)</h1>
    </div>
</div>
<div class="form-body">
<table class="lending-info">
        <tr>
            <th>N° PRESTAMO:</th>
            <td>00700611000004477</td>
            <th>CRÉDITOS:</th>
            <td>FOFAMILIA</td>
            <th>N° VOUCHER:</th>
            <td>05007194 0500715</td>
        </tr>
        <tr>
            <th>COD. CLIENTE:</th>
            <td>00891000736</td>
            <th>FONDOS:</th>
            <td>1.00</td>
            <th>N° CHEQUE:</th>
            <td>1921-18922-18</td>
        </tr>
        <tr>
            <th>NOMBRE DEL PREST.:</th>
            <td>Mercedes Elisabeth Orellana Vida. DE-</td>
            <th>HOMBRES:</th>
            <td>0.00</td>
            <th>PLAZO:</th>
            <td>923 0 MESES</td>
        </tr>
        <tr>
            <th>DEPARTAMENTO:</th>
            <td>San Salvador</td>
            <th>MUJERES:</th>
            <td>1.00</td>
            <th>INTERES:</th>
            <td>2.00 MENSAUL</td>
        </tr>
        <tr class="row-span">
            <th>LUGAR:</th>
            <td>POLIG. H.PJE. 15 PONIENTE No. 257, RESIDENCIAL LINCOLN, MEJICANOS</td>
            <th>MONTO INDIV.:</th>
            <td>$12,000.00</td>
            <th>FECHA DE OTORGAMIENTO:</th>
            <td>27/05/2025</td>
        </tr>
        <tr>
            <th>CANTON:</th>
            <td>MEJICANOS</td>
            <th>BANCO COMERCIAL:</th>
            <td>BCO Agricola Com. [REC]</td>
            <th>FECHA DE VENCIMIENTO:</th>
            <td>27/05/2030</td>
        </tr>
        <tr>
            <th>CUENTA CORRIENTE:</th>
            <td>50612364-7</td>
            <th></th>
            <td></td>
            <th>LINEA DE CRÉDITO:</th>
            <td>LINEA DE CREDITO MICROTOP PRENDARIA LP. 2/4/5EGPREN</td>
        </tr>
        <tr>
            <th>ASESOR DE CRÉDITOS:</th>
            <td>Walter Boris Figueroa</td>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
    </table>
    <table class="lending-table">
        <thead>
            <tr>
                <th>NOMBRE DEL CLIENTE</th>
                <th>DUI</th>
                <th>Nº.CHEQ/VOUCHER</th>
                <th>MONTO INDIVIDUAL</th>
                <th>SEGURO</th>
                <th>DESCUENTOS PROMOCION</th>
                <th>OTROS ADITIVOS</th>
                <th>PAPELERIA Y GASTOS ADMINIS.</th>
                <th>CREDITO ANT.</th>
                <th>VALOR CHEQ</th>
                <th>RECIBI CONFORME</th>
                <th>HUELLA DIGITAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MERCEDES ELISABETH ORELLANA VDA. DE QUINTANILLA</td>
                <td>01522292-6</td>
                <td>xxxxxxxx-xxxx-cred</td>
                <td>12,000.00</td>
                <td>0.00</td>
                <td>452.11</td>
                <td>0.00</td>
                <td>16.95</td>
                <td>$4,333.00</td>
                <td>$8,123.22</td>
                <td></td>
                <td></td>
                </tr>
        </tbody>
    </table>
</div>

<div class="form-signatures">
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>ELABORADO POR</p>
    </div>
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>RESERVADOR POR</p>
    </div>
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>AUTORIZADO POR</p>
    </div>
</div>

<div class="entrego-cheque-firma">
        <div class="caja-entrego-firma">
            <h2>FOSOFAMILIA</h2>
            <h2>ENTREGO CHEQUE</h2>
            <p class="linea-con-campo">NOMBRE: <span class="espacio-firma"></span></p>
            <p class="linea-con-campo">FIRMA: <span class="espacio-firma"></span></p>
            <p class="linea-con-campo">FECHA: <span class="espacio-firma"></span></p>
        </div>
</div>

<div class="lista-chqeues">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem non nam voluptas minus quidem atque, commodi veniam omnis tenetur labore totam repudiandae vitae sunt? Nihil quam alias iusto! Ipsam, nulla.</p>
</div>