{% set data = doc | default({}) %}
<div class="form-header">
    <div class="header-box">
        <h1>FONDO SOLIDARIO PARA LA FAMILIA MICROEMPRESARIA</h1>
        <h1>FOSOFAMILIA</h1>
        <h1>PLANILLA DE DESEMBOLSO</h1>
        <h1>(EN DOLARES)</h1>
    </div>
</div>
<div class="form-body">
<table class="lending-info">
        <tr>
            <th>N° PRESTAMO:</th>
            <td>{{ data.numero_prestamo | default('No disponible') }}</td>
            <th>CRÉDITOS:</th>
            <td>{{ data.creditos | default('No disponible') }}</td>
            <th>N° VOUCHER:</th>
            <td>{{ data.numero_voucher | default('No disponible') }}</td>
        </tr>
        <tr>
            <th>COD. CLIENTE:</th>
            <td>{{ data.codigo_cliente | default('No disponible') }}</td>
            <th>FONDOS:</th>
            <td>{{ data.fondos | default('No disponible') }}</td>
            <th>N° CHEQUE:</th>
            <td>{{ data.numero_cheque | default('No disponible') }}</td>
        </tr>
        <tr>
            <th>NOMBRE DEL PREST.:</th>
            <td>{{ data.nombre_prestamista | default('Nombre no disponible') }}</td>
            <th>HOMBRES:</th>
            <td>{{ data.hombres | default('N/A') }}</td>
            <th>PLAZO:</th>
            <td>{{ data.plazo | default('No disponible') }}</td>
        </tr>
        <tr>
            <th>DEPARTAMENTO:</th>
            <td>{{ data.departamento | default('No disponible') }}</td>
            <th>MUJERES:</th>
            <td>{{ data.mujeres | default('N/A') }}</td>
            <th>INTERES:</th>
            <td>{{ data.interes | default('No disponible') }}</td>
        </tr>
        <tr class="row-span">
            <th>LUGAR:</th>
            <td>{{ data.lugar | default('No disponible') }}</td>
            <th>MONTO INDIV.:</th>
            <td>{{ data.monto_individual_info | default('No disponible') }}</td>
            <th>FECHA DE OTORGAMIENTO:</th>
            <td>{{ data.fecha_otorgamiento | default('Fecha no disponible') }}</td>
        </tr>
        <tr>
            <th>CANTON:</th>
            <td>{{ data.canton | default('No disponible') }}</td>
            <th>BANCO COMERCIAL:</th>
            <td>{{ data.banco_comercial | default('No disponible') }}</td>
            <th>FECHA DE VENCIMIENTO:</th>
            <td>{{ data.fecha_vencimiento | default('Fecha no disponible') }}</td>
        </tr>
        <tr>
            <th>CUENTA CORRIENTE:</th>
            <td>{{ data.cuenta_corriente | default('No disponible') }}</td>
            <th></th>
            <td></td>
            <th>LINEA DE CRÉDITO:</th>
            <td>{{ data.linea_credito | default('No disponible') }}</td>
        </tr>
        <tr>
            <th>ASESOR DE CRÉDITOS:</th>
            <td>{{ data.asesor_creditos | default('Asesor no disponible') }}</td>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
    </table>
    <table class="lending-table">
        <thead>
            <tr>
                <th>NOMBRE DEL CLIENTE</th>
                <th>DUI</th>
                <th>Nº.CHEQ/VOUCHER</th>
                <th>MONTO INDIVIDUAL</th>
                <th>SEGURO</th>
                <th>DESCUENTOS PROMOCION</th>
                <th>OTROS ADITIVOS</th>
                <th>PAPELERIA Y GASTOS ADMINIS.</th>
                <th>CREDITO ANT.</th>
                <th>VALOR CHEQ</th>
                <th>RECIBI CONFORME</th>
                <th>HUELLA DIGITAL</th>
            </tr>
        </thead>
        <tbody>
            {% if data.desembolsos %}
                {% for desembolso in data.desembolsos %}
                <tr>
                    <td>{{ desembolso.nombre_cliente | default('Nombre no disponible') }}</td>
                    <td>{{ desembolso.dui | default('No disponible') }}</td>
                    <td>{{ desembolso.cheque_voucher | default('No disponible') }}</td>
                    <td>{{ desembolso.monto_individual | default('0.00') }}</td>
                    <td>{{ desembolso.seguro | default('0.00') }}</td>
                    <td>{{ desembolso.descuentos_promocion | default('0.00') }}</td>
                    <td>{{ desembolso.otros_aditivos | default('0.00') }}</td>
                    <td>{{ desembolso.papeleria_gastos_admin | default('0.00') }}</td>
                    <td>{{ desembolso.credito_anterior | default('0.00') }}</td>
                    <td>{{ desembolso.valor_cheque | default('0.00') }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="12" style="text-align: center;">No hay desembolsos para mostrar.</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="form-signatures">
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>ELABORADO POR</p>
    </div>
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>RESERVADOR POR</p>
    </div>
    <div class="firma">
        <span class="espacio-firma" style="width: 15em;"></span>
        <p>AUTORIZADO POR</p>
    </div>
</div>

<div class="entrego-cheque-firma">
        <div class="caja-entrego-firma">
            <h2>FOSOFAMILIA</h2>
            <h2>ENTREGO CHEQUE</h2>
            <p class="linea-con-campo">NOMBRE: <span class="espacio-firma"></span></p>
            <p class="linea-con-campo">FIRMA: <span class="espacio-firma"></span></p>
            <p class="linea-con-campo">FECHA: <span class="espacio-firma"></span></p>
        </div>
</div>

<div class="lista-chqeues">
    <p>NOTA: EN CASO QUE EL SOCIO NO PUEDA FIRMAR DE RECIBO, ESTAMPAR LA HUELLA DIGITAL DEL PULGAR</p>
    {% if data.lista_cheques_texto %}
    <pre class="lista-cheques" style="padding-top: 2em;">{{ data.lista_cheques_texto | default('')}}</pre>
    {% endif %}
</div>