#contenedor .pagina {
  font-family: Arial, sans-serif;
  font-size: 7pt;
  color: black;
  padding: 1.0cm 1.8cm !important;

  width: 297mm; /* Ancho de una hoja A4 */
  min-height: 210mm; /* Alto de una hoja A4 */
}

#contenedor .form-header {
    justify-content: center;
    display: flex;
}

#contenedor .header-box {
    border-style: solid;
    border-radius: 1em;
    border-width: 0.13em;
    width: 75%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

#contenedor .header-box h6 {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

#contenedor .form-body {
    border-top: 0.13em dashed;
    margin-top: 1em;
}

#contenedor .lending-info {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#contenedor .lending-info th, #contenedor .lending-info td {
    text-align: left;
    word-wrap: break-word;
}
#contenedor .lending-info th {
    background-color: #f2f2f2;
    font-weight: bold;
}
#contenedor .row-span {
    vertical-align: top;
}

@media print {
    #contenedor .pagina {
        width: fit-content;
        min-height: fit-content;
        height: fit-content;
        padding: 1vw;
        background-color: white;
    }
    
}

.lending-table {
    border-collapse: collapse;
    border: 0.16em solid black;
}

.lending-table td, .lending-table th {
    text-align: center;
    border: none;
}

.lending-table thead {
    border: 0.16em solid black;
}

.lending-table thead {
    font-weight: bold;
}

.form-signatures {
    float: left;
    width: 75%;
    display: flex;
}

.entrego-cheque-firma {
    float: right;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
}

.caja-entrego-firma {
    border: 0.15em solid;
    display: flex;
    flex-direction: column;;
    padding: 1em;
    text-align: center;
}

.linea-con-campo {
    display: flex;
    align-items: baseline;
    text-align: left;
}

.linea-con-campo .espacio-firma {
    flex-grow: 1;
    margin-left: 0.5em;
}

.firma {
    text-align: center;
    margin: 1em;
    padding-top: 3em;
}

.espacio-firma {
    border-bottom: 0.15em solid black;
    display: inline-block;
}

@page {
    size: landscape;
}