{% set lugar_fecha = document_data.lugar_fecha | default({}) %}
{% set solicitante = document_data.solicitante | default({}) %}

<div class="logosection">
    <img src="{{ url_for('static', filename='auth-compartir-info/logo.jpg') }}" style="width: 8em;" alt="Logo header">
</div>
<div class="header-date">
    <p>
        {% if lugar_fecha.lugar %}<span class="data-fill">{{ lugar_fecha.lugar }}</span>{% else %}<span style="width: 19em" class="aut-linea"></span>{% endif %},
        {% if lugar_fecha.dia %}<span class="data-fill">{{ lugar_fecha.dia }}</span>{% else %}<span style="width: 4em" class="aut-linea"></span>{% endif %} de
        {% if lugar_fecha.mes %}<span class="data-fill">{{ lugar_fecha.mes }}</span>{% else %}<span style="width: 8em;" class="aut-linea"></span>{% endif %} de
        {% if lugar_fecha.anio %}<span class="data-fill">{{ lugar_fecha.anio }}</span>{% else %}<span style="width: 6em" class="aut-linea"></span>{% endif %}.
    </p>
</div>
<div class="saludos">
    <p class="saludo">Señores</p>
    <p class="saludo">FOSOFAMILIA
    <p>
    <p class="saludo">Presente.</p>
</div>
<p>Estimados Señores.</p>

<p>
    Yo,
    {% if solicitante.nombre_completo %}
        <span class="data-fill">{{ solicitante.nombre_completo }}</span>
    {% else %}
        <span style="width: 21em" class="aut-linea"></span>
    {% endif %}, mayor de edad, del domicilio de
    {% if solicitante.domicilio %}
        <span class="data-fill">{{ solicitante.domicilio }}</span>
    {% else %}
        <span style="width: 14em" class="aut-linea"></span>
    {% endif %}, por este medio autorizo al Fondo Solidario para la Familia Microempresaria (FOSOFAMILIA) a:
</p>

<ol>
    <li>Compartir información crediticia con la Superintendencia del Sistema Financiero y con la Agencia de Información
        de Datos Infored, S.A. de C.V.</li>
    <li>Investigar el comportamiento crediticio y la información proporcionada por mí, sin que esto represente un
        compromiso para la aprobación del crédito, tanto con las personas naturales como con entidades o personas
        jurídicas, incluyendo aquellas que recolectan, registran, procesan y distribuyen datos referentes al
        comportamiento crediticio de las personas.</li>
    <li>Adicionar y actualizar cualquier dato personal proporcionado por mí, incluyendo los de esta solicitud y
        cualquier otro dato que requieran en un futuro respecto de mi persona las entidades antes mencionadas, para los
        usos que estimen convenientes.</li>
    <li>Conservar esta información y las constancias en sus archivos, así como para que confirme la información
        recolectada por las vías que considere convenientes.</li>
</ol>

<p>En relación a compartir y proporcionar mi número telefónico y cuenta de correo electrónico con el fin de que la
    Agencia de Información de Datos emita las alertas o procesos de notificación correspondientes mediante el servicio
    de mensajería instantánea o por correo electrónico cuando mi historial de crédito esté siendo revisado, en procesos
    de consulta, quejas o reclamos que realice en los puntos de consulta y/o centro de resolución de quejas, teniendo
    claro que de no brindar mi consentimiento, no recibiré dichas alertas, manifiesto que:

    SI
    <span class="aut-checkbox"></span>
    NO
   <span class="aut-checkbox"></span>
    estoy de acuerdo con compartir dicha información.
</p>

<p>Lo anterior, en relación a las operaciones crediticias que tenga con el FOSOFAMILIA en calidad de <span
        class="input-group">
        {% if solicitante.calidad %}
            <span class="data-fill">{{ solicitante.calidad }}</span>
        {% else %}
            <span id="encalidad" style="width: 14em;" class="aut-linea"></span>
        {% endif %}
        <em>(Codeudor o Deudor)</em>
    </span>.</p>

<div class="signature-block">
    <p style="padding-bottom: 1em;">Atentamente,</p>
    <p>F. <span style="width: 14em;" class="aut-linea"></span></p>
    <p>DUI:
        {% if solicitante.dui %}<span class="data-fill">{{ solicitante.dui }}</span>{% else %}<span style="width: 12em;" class="aut-linea"></span>{% endif %}
    </p>
    <p>NIT:
        {% if solicitante.nit %}<span class="data-fill">{{ solicitante.nit }}</span>{% else %}<span style="width: 12em;" class="aut-linea"></span>{% endif %}
    </p>
    <p>Teléfono:
        {% if solicitante.telefono %}<span class="data-fill">{{ solicitante.telefono }}</span>{% else %}<span style="width: 12em;" class="aut-linea"></span>{% endif %}
    </p>
    <p>Correo electrónico:
        {% if solicitante.email %}<span class="data-fill">{{ solicitante.email }}</span>{% else %}<span style="width: 12em;" class="aut-linea"></span>{% endif %}
    </p>
</div>