.pagina{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
  color: black;
  padding-left: 2.8cm;
  padding-right: 2.8cm;
  padding-top: 1.4cm;
  padding-bottom: 1cm;
  width: 215.9mm; /* US Letter width */
  min-height: 279.4mm; /* US Letter height */
  /* width: 45em; */
  position: relative; /* <-- Añadido para posicionamiento absoluto interno */
}
h1,
h2 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 12pt;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 10pt;
  margin-bottom: 1em;
}
p {
  text-align: justify;
  line-height: 1.3;
  margin: 0.5em 0;
}
ol {
  margin: 3em 0em 3em 3.5em;
  line-height: 1.3;
  padding: 0;
}
li {
  margin-bottom: 0.5em;
}
.aut-checkbox {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1em solid #000;
  vertical-align: middle;
  margin-right: 0.25em;
  margin-left: -0.25em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
}
.aut-linea {
  display: inline-block;
  border-bottom: 1px solid #000;
  vertical-align: bottom;
  margin: 0 0.2em;
  /* font-weight: 0.4cm;; */
}
.data-fill {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  color: #444; /* Un gris oscuro, más claro que el negro puro */
  padding: 0 0.2em; /* Espacio para que el texto no se pegue */
  font-size: 10pt;
}
.signature-block {
  margin-top: 2em;
}
.signature-block p {
  margin: 0.3em 0;
}
.input-group {
  display: inline-grid;
  text-align: center;
}
.input-group .aut-linea {
  display: block;
  margin-top: 1.9em;
}
.input-group em {
  font-size: 8pt;
}
.header-date {
  margin-top: 2em;
  text-align: left;
}
.saludo {
  line-height: 0.5em;
}
.saludos {
  padding-bottom: 2em;
  padding-top: 2em;
}
.logosection {
  position: absolute;
  top: 1.5cm; 
  right: 1.2cm;
  margin: 0;
  text-align: right;
  z-index: 10;
}

.logosection img {
  max-width: 12em;
  height: auto;
}