<div class="pagina-borde">
    <h2 class="seg-titulo">INFORMACION IMPORTANTE SOBRE EL SEGURO</h1>
    <h2 class="seg-subtitulo">RIESGOS CUBIERTOS</h2>
    <ul class="texto lista">
        <li class="itemlista">Muerte por cualquier causa</li>
        <li class="itemlista">Cobertura por Incapacidad total y permanente</li>
        <li class="itemlista">Gastos Funerarios $500.00</li>
    </ul>
    <h2 class="seg-subtitulo padding-top-1em">CONDICIONES ESPECIALES</h1>
    <p class="texto">La cobertura de muerte termina al cumplir el asegurado 80 años de edad. La cobertura de invalidez,
        si está incluida en la póliza, termina al cumplir el
        asegurado 70 años de edad.<br>
    La Declaración de Salud debe ser completada por cada uno de los deudores.<br>
    Los asegurados por esta póliza no podrán ceder a terceras personas los derechos del seguro, pues
        estos corresponden al Contratante, en su calidad
        de cesionario irrevocable.</p>
    <h2 class="seg-subtitulo padding-top-1em">EXCLUSIONES DEL BENEFICIO DE PAGO ANTICIPADO DEL MONTO DEL SEGURO EN CASO DE INVALIDEZ TOTAL Y PERMANENTE</h1>
    <p class=texto>Si la invalidez resulta directa o indirectamente de:<br>
    Intento de suicidio, estando o no el Asegurado en uso de sus facultades mentales<br>
    Lesiones causadas intencionalmente por una o varias personas o por el propio asegurado<br>
    Lesiones sufridas o enfermedades originadas por alguna condición preexistente, desconocida como tal por la aseguradora al emitir la póliza Guerra declarada o no, hostilidades armadas, guerra civil, invasión, revolución, rebelión, insurrección, cualquier acción bélica o similares Lesiones sufridas resultante del consumo de drogas, alcohol, veneno, gas o vapores tomados, administrados, absorbidos o inhalados.<br>
    La  comisión  o  tentativa  de  parte  del  asegurado  para  cometer  un  delito,  participar  en  cualquier  prueba  de  velocidad,  deportes  considerados extremos y cualquier acto que lo involucre en actividades evidentemente peligrosas para su integridad física y donde el resultado es accidental.</p>
    <h2 class="seg-titulo padding-top-1em">CONDICIONES GENERALES</h2>
    <h2 class="seg-subtitulo">EXENCION DE RESTRICCIONES</h2>
    <p class="texto">La presente Póliza está exenta de restricciones respecto a residencia, ocupación, viajes y género de vida de los Deudores asegurados.</p>
    <h2 class="seg-subtitulo">REGISTROS E INFORMES</h2>
    <p class="texto">El Contratante estará obligado a enviar a la Aseguradora, la información que pueda considerarse razonablemente necesaria para la administración de la póliza.</p>
    <h2 class="seg-subtitulo">COMUNICACIONES</h2>
    <p class="texto">Toda solicitud o comunicación a la Compañía, relacionada con la presente Póliza, deberá hacerse por escrito a la Oficina Principal de la Aseguradora. Los agentes de la Aseguradora no tienen facultad para recibir comunicaciones a nombre de la Compañía. Las comunicaciones que la Compañía deba hacer al Contratante las enviará por escrito a la última dirección conocida por ella, quedando entendido que las correspondientes a los Asegurados se dirigirán por intermedio del Contratante.</p>
    <h2 class="seg-subtitulo">PRESCRIPCION</h2>
    <p class="texto">Todas las acciones que se deriven de este Contrato prescriben en tres años, contados desde la fecha del acontecimiento que les dio origen. Se estará además a lo que dispone el Código de Comercio.</p>
    <p class="texto">
        <span class="seg-subtitulo">DOCUMENTOS  A  PRESENTAR PARA RECLAMO DE  INDEMNIZACIONES.</span> <span class="texto">  Los documentos los presentan  los beneficiarios en las oficinas  del Contratante, para que éste gestione los pagos con la Aseguradora:</span>
    </p>
    <p class="texto">En caso de fallecimiento</p>
    <ul class="texto lista">
        <li class="itemlista">
            Certificación original de partida de defunción del asegurado 
        </li>
        <li class="itemlista">
            Certificación original de partida de nacimiento del asegurado
        </li>
        <li class="itemlista">
            Original y Fotocopia DUI del asegurado
        </li>
        <li class="itemlista">
            Fotocopia de NIT, Tarjeta de Afiliación del ISSS y Número Único Previsional (NUP)
        </li>
        <li class="itemlista">
            Formulario de declaración completado por el beneficiario y formulario de declaración completado por el médico que asistió al fallecido, o certificación extendida por el hospital donde el asegurado falleció.
        </li>
        <li class="itemlista">
            Formulario de declaración completado por un testigo, más copia de DUI.
        </li>
        <li class="itemlista">
            Estado de cuenta emitido por el Contratante, indicando fecha de último pago realizado por el deudor fallecido, tasa de interés y saldo adeudado por el asegurado a la fecha del siniestro
        </li>
    </ul>
    <p class="texto">En caso de invalidez:</p>
    <ul class="texto lista">
        <li class="itemlista">
            Dictamen de la invalidez total y permanente
        </li>
        <li class="itemlista">
            Formulario de declaración completado por el asegurado y el médico tratante.
        </li>
        <li class="itemlista">
            Original y fotocopia DUI del asegurado.
        </li>
        <li class="itemlista">
            Certificación original de partida de nacimiento del asegurado.
        </li>
    </ul>
    <p class="texto padding-top-1em">Manifiesto que  la presente solicitud y los datos proporcionados en  ella son  parte  y constituyen la base del Contrato de Seguro y  acepto  las Condiciones de la Póliza correspondiente. Declaro que los datos proporcionados  son verdaderos y completos. Acepto que cualquier  diferencia encontrada en la información proporcionada en  esta Solicitud,  que  he firmado para el otorgamiento del crédito,  y  mi estado  de  salud actual, ocasionará que el presente seguro quede sin efecto, así como los beneficios contratados; por tanto, la obligación adquirida con el contratante de esta póliza queda en manos de los beneficiarios nombrados aquí. Autorizo a cualquier médico, hospital o clínica que me haya atendido para que revele a Atlántida Vida, S.A. Seguros de Personas, cualquier dato o información que ésta requiera.</p>
    <div style="display: flex; justify-content: space-between; margin-top: 5em; align-items: baseline;">
        <div style="text-align: center;">
            <p><span class="seguro-linea" style="width: 20em;">&nbsp</span></p>
            <p class="texto" style="margin-top: 0.5em;">(Firma del Solicitante)</p>
        </div>
        <div>
            <p class="texto" style="margin: 0;">Lugar y Fecha: <span class="seguro-linea" style="width: 20em;">&nbsp;</span></p>
        </div>
    </div>
</div>